@import "~bootstrap/scss/bootstrap";

.App {
  text-align: center;
}

.calculator{
  background:green;
  color:yellow;
  height: 500px;
  width:300px;
}

#display{
  width:280px;
  height:100px;
  background: black;
  border-radius: 10px;
  border-style:inset;
}

